



.scroll-pane .corner {
    -fx-background-color: #0d379e;
    -fx-background-radius: 0px;
}

.scroll-pane:focused {
    -fx-faint-focus-color: transparent;
}

.scroll-bar {
    -fx-background-color: #0d379e;
    -fx-background-radius: 0px;
}

.scroll-bar:horizontal {
    -fx-background-insets: 0 0 16 0;
}

.scroll-bar:vertical {
    -fx-background-insets: 0 16 0 0;
}

.scroll-bar:increment-button,
.scroll-bar:decrement-button,
.scroll-bar:increment-arrow,
.scroll-bar:decrement-arrow,
.scroll-bar:thumb {
    -fx-background-color: #0d379e;
    -fx-background-radius: 0px;
}

.scroll-bar:increment-button:hover,
.scroll-bar:decrement-button:hover,
.scroll-bar:increment-arrow:hover,
.scroll-bar:decrement-arrow:hover,
.scroll-bar:thumb:hover {
    -fx-background-color: #1a4dff;
}

.scroll-bar:thumb {
    -fx-background-color: #0d379e;
    -fx-background-radius: 0px;
}

.scroll-bar:thumb:hover {
    -fx-background-color: #1a1a1a;
}
